LoginScreen {
	align: center middle;
}

LoginScreen > Vertical {
	width: 80;
    height: 20;
    margin: 1;
    padding: 1;
	border: solid white;
}

LoginScreen > Vertical > Widget {
	margin: 1;
    width: 100%;
}

EditorScreen > Horizontal > ListView {
	width: 20%;
}

EditorScreen > Horizontal > TextArea {
	width: 40%;
}

EditorScreen > Horizontal > MarkdownViewer {
	width: 40%;
}